.khan__buy-link {
  display: inline-block;

  margin-left: 48px;

  font-size: 30px;
  line-height: 42px;
  text-decoration: none;
  color: #2F80ED;

  transition: opacity 0.3s;
}

.khan__buy-link:hover {
  opacity: 0.5;
}